.header
  .navbar.navbar-fixed-top.navbar-inverse
    .navbar-inner
      .container
        = link_to 'ISIS', root_path, class: 'brand'
        %ul.nav.pull-right
          %li= link_to "Agent Authentication", root_path
